VITE_API_URL=https://seu-backend.com/api/v1
VITE_API_TIMEOUT_MS=15000
VITE_API_TOKEN_STORAGE_KEY=access_token


VITE_RHSSO_URL_BASE="https://sso-rhsso-hom.apps.np-ocp.fortaleza.ce.gov.br"
VITE_RHSSO_CLIENT_ID="citinova-reciclo"
VITE_RHSSO_REALM="pmf"
VITE_RHSSO_REDIRECT_URI="https://acolhe.fortaleza.ce.gov.br/login-sso"
VITE_FORTALEZA_DIGITAL_EDIT_BASE_URL="https://hom-fortalezadigital.fortaleza.ce.gov.br/ords/fortaleza-digital/r/portal/redirecionador"


