Dockerfile
.dockerignore
docker-compose.yaml
docker-compose-dev.yaml
README.md
.vscode
.gitlab-ci.yml
.gitignore
.scannerwork
.sonar
.env
.env.production
*.sqlite3
__pycache__
*.pyc
*.pyo
Testes/
Collection/