USE_SQLITE=False
DEBUG=True
ALLOWED_HOSTS='*'

DB_NAME='orclpdb'
DB_USER='cras'
DB_PASSWORD='12345678'
DB_HOST='localhost'
DB_PORT='1521'

# DB_NAME='cras'
# DB_USER='postgres'
# DB_PASSWORD='12345678'
# DB_HOST='127.0.0.1'
# DB_PORT='5432'

ORACLE = True

FRONTEND_RESET_PASSWORD_URL = "http://localhost:8080/sistema/alterar-senha"
EMAIL_HOST_USER = 'cras@sis.fortaleza.ce.gov.br'
EMAIL_HOST_PASSWORD = "TfBk*2bP%Z"

FRONTEND_SEM_CADASTRO_URL = "http://localhost:8080/cadastro"
FRONTEND_SELO_URL = "http://localhost:8080/selo"
FRONTEND_SUCCESS_URL = "http://localhost:8080/perfil"

API_URL ="https://pmf-apicast-hml.apps.np-ocp.fortaleza.ce.gov.br/fdigital/pessoa/v1/pessoa/"
RHSSO_URL_BASE = "https://sso-rhsso-hom.apps.np-ocp.fortaleza.ce.gov.br"
CLIENT_ID = "agendamentocras-citinova"
CLIENT_SECRET = "ZX49baQQrSNhB8A5cJBUDBOmD3iGuVb7"
REALM = "pmf"
USER_KEY = "03992f14ef880109469d0efc619a4a7a"
HOST = "localhost"
SS_EXT = "rc"
REDIRECT_URI = "http://localhost:8080/login-sso"

ALLOWED_ORIGIN='http://localhost:8080/'